#epilepsy-mode-button {
  padding: 1rem;
  position: absolute;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}

#epilepsy-mode-button.btn-on {
  background-color: #00c525;
}

#epilepsy-mode-button.btn-off {
  background-color: #ff331c;
}
